@charset "UTF-8";

/* typical device breakpoint
celular tela: ate 600px
tablet: 768px ate 992px
desktop: 992px ate 1200px
grande telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
     background-image: linear-gradient(to top, #49a09d, #5f2c5f);

    }


    section#login {
        width: 80vw;
        font-size: 1em;

    }

    section#login>div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        margin-right: 10px;
        border-radius: 20px 0px 0px 20px;

    }

    section#login>div#formulario {
        height: 100%;
        border-radius: 20px;



    }

    section#login>div#formulario>.cll {
        display: none;

    }

    section#login>div#imagem>h1 {
        display: none;
    }


    section#login>div#formulario>.lg {
        display: block;
        font-weight: bolder;
        margin: 10px;
        text-align: center;
    }

    section#login>div#formulario>h1 {
        text-align: center;
    }

    form > input[type=submit] {
        display: inline-block;
        position: relative;
        top: 56%;
        left: -1.5%;
        transform: translate(0%, -7%);
        border-radius: 0px 5px 5px 0px ;
        width: 63.4%;
       
       }

       form > div.campo {
        width: 624px;
        text-align: center;
       }
        

}


@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c5f);
   
       }
    section#login {
        width: 950px;
    }

    section#login>div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 20px 0px;
        margin-left: 10px;
    }

    section#login>div#imagem>h1 {
        display: none;


    }

    section#login>div#formulario {
        height: 100%;
        border-radius: 20px;
    }

    section#login>div#formulario>.cll {
        display: none;
    }

    section#login>div#formulario>.lg {
        display: block;
        font-weight: bolder;
        text-align: center;
        margin: 10px;


    }

    section#login>div#formulario>h1 {
        text-align: center;
    }


    form > input[type=submit] {
        display: inline-block;
        position: relative;
        top: 50%;
        left: 34.3%;
        transform: translate(-69%,-834%);
        width: 49.6%;
       
       }

       form > div.campo {
        width: 459px;
        text-align: center;
       }
        
       


}